<section class="hero">
  <%= render 'layouts/nav' %>
    <div class="hero-text">
        <h1>Welcome to my awesome website</h1><br>
        <h3>Sign in and select an available slot to get started!</h3>
      </div>
  </div>
</section>
<div id="reservations">
  <h1 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @appointments_by_date[date] %>
      <ul>
        <% @appointments_by_date[date].each do |appointment| %>
          <li class="appointments"><%= link_to "#{appointment.start_time.strftime("%l:%M")} -#{appointment.end_time.strftime("%l:%M%p")}", appointment %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>