<section class="hero">
  <%= render 'layouts/nav' %>
    <div class="hero-text">
      <h1>Welcome to Massage Scheduler!</h1><br>
      <% if user_signed_in? %>
        <h3>Select an available slot to reserve</h3>
      <% else%>
        <h3>Sign in or create an account to get started</h3>
      <% end %>
      <div>
        <h5>
          Now you can easily schedule appointments with your massage
          therapist. No more <br/> back and forth emails and texts to figure out
          what dates you are both available. <br/> With Massage Scheduler your
          therapist can set the dates and time slots that she is <br/> available.
          All you have to do is select date that works for you and pick a
          start time <br/> within the available time range.
        </h5>
      </div>
    </div>

</section>
<div id="reservations">
  <h1 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @appointments_by_date[date] %>
      <ul>
        <% @appointments_by_date[date].each do |appointment| %>
          <% if appointment.reserved? == false %>
            <li class="appointments"><%= link_to "#{appointment.start_time.strftime("%l:%M")} -#{appointment.end_time.strftime("%l:%M%p")}", appointment %></li>
          <% else %>
            <li class="reserved"><%= link_to "#{appointment.start_time.strftime("%l:%M")} -#{appointment.end_time.strftime("%l:%M%p")}", appointment %></li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
