<p id="notice"><%= notice %></p>
<p><strong>Username:</strong>
<%= @client.username %></p>
<p><strong>Name:</strong>
<%= @client.first_name %>
<%= @client.last_name %></p>
<p><strong>Email:</strong>
<%= @client.email %></p>

<%= link_to 'Edit my account info', edit_client_registration_path %>
