<p id="notice"><%= notice %></p>

<p><%= @client.username %></p>
<p><%= @client.first_name %></p>
<p><%= @client.last_name %></p>
<p><%= @client.email %></p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
