<section class="hero">
  <%= render 'layouts/nav' %>
    <div class="hero-text">
      <h1>Sign in here for access to amazing stuff!</h1>
    </div>
</section>


<div class="row">
  <div class="large-6 columns">
    <div class="signup-panel">
      <p class="welcome"> Sign In!</p>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="row collapse">
        <div class="small-2 columns">
          <span class="prefix"><i class="fi-mail"></i></span>
        </div>
        <div class="small-10  columns">
          <%= f.text_field :login, autofocus: true, placeholder: 'Email or Username' %>
        </div>
      </div>
      <div class="row collapse">
        <div class="small-2 columns ">
          <span class="prefix"><i class="fi-lock"></i></span>
        </div>
        <div class="small-10 columns ">
          <%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %>
        </div>
      </div>
      <% if devise_mapping.rememberable? %>
        <div>
          <%= f.check_box :remember_me %><%= f.label :remember_me %>
        </div>
      <% end %>
      <%= f.submit 'Sign In!', class: 'button' %>
    <% end %>
     <p>Don't have an account? <%= link_to 'Sign up here', sign_up_path %> &raquo</p>
  </div>
</div>
</div>


