<div class="row">
  <div class="large-6 columns">
    <div class="signup-panel">
      <p class="welcome">Create Appointment</p>
      <%= form_for(@appointment) do |f| %>

      <% if @appointment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>
          <ul>
          <% @appointment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row collapse">
        <div class="small-2 columns">
          <span class="prefix"><i class="fi-calendar"></i></span>
        </div>
        <div class="small-10  columns">
          <%= f.text_field :date, placeholder: "Date" %>
        </div>
      </div>
      <div class="row collapse">
        <div class="small-2 columns ">
          <span class="prefix"><i class="fi-clock"></i></span>
        </div>
        <div class="small-10 columns ">
          <%= f.text_field :start_time, placeholder: "Start Time" %>
        </div>
      </div>
      <div class="row collapse">
        <div class="small-2 columns ">
          <span class="prefix"><i class="fi-clock"></i></span>
        </div>
        <div class="small-10 columns ">
          <%= f.text_field :end_time, placeholder: "End Time" %>
        </div>
      <%= f.hidden_field :therapist_id, value: current_user.id %>
      </div>
      <%= f.submit class: 'button' %>
    <% end %>
  </div>
</div>
</div>
