<h1>Listing appointments</h1>

<table>
  <thead>
    <tr>
      <th colspan="2"></th>
      <th>client</th>
      <th>therapist</th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= link_to appointment.date, appointment %></td>
        <td><%= appointment.start_time.strftime("%l:%M%p") %></td>
        <% if appointment.client_id != nil %>
          <td><%= appointment.client.full_name if appointment.client %></td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= appointment.therapist.full_name %></td>
        <td><%= appointment.reserved %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if policy(@appointments).create? %>
  <%= link_to 'New Appointment', new_appointment_path %>
<% end %>
