<p id="notice"><%= notice %></p>

<div>
  <% if @appointment.reserved %>
    <%= User.find(@appointment.client_id).full_name %>
  <% end %>
</div>

<div>
  <%= @appointment.date %>
</div>

<div>
  <%= @appointment.start_time %> - <%= @appointment.end_time %>
</div>

<% if @appointment.reserved %>
  <%= link_to 'Cancel Appointment', @appointment, method: :delete,
      data: { confirm: 'Are you sure?' } %>
  |
<% end %>

<% if policy(@appointment).update? %>
  <%= link_to 'Edit', edit_appointment_path(@appointment) %>
  |
<% end %>

<%= link_to 'Back', appointments_path %>
