<p id="notice"><%= notice %></p>

<div>
  <% if @appointment.reserved %>
    <%= User.find(@appointment.client_id).full_name %>
  <% end %>
</div>

<div>
  <%= @appointment.date %>
</div>

<div>
  <%= @appointment.start_time %> - <%= @appointment.end_time %>
</div>

<%= link_to 'Cancel Appointment', @appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
|
<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
