<p id="notice"><%= notice %></p>

<div>
  <strong>Date:</strong> <%= @appointment.date %>
</div>

<div>
  <strong>time</strong> <%= @appointment.start_time %> - <%= @appointment.end_time %>
</div>

<div>
 <strong>reserved?</strong> <%= @appointment.reserved %>
</div>

<%= link_to 'Cancel Appointment', @appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
|
<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
