<p id="notice"><%= notice %></p>

<div>
  <strong>Date:</strong> <%= @appointment.date %>
</div>

<div>
  <strong>time</strong> <%= @appointment.start_time %> - <%= @appointment.end_time %>
</div>

<div>
 <strong>Therapist</strong> <%= @appointment.therapist.full_name %>
</div>

<div>
 <strong>Client</strong> <%= @appointment.client.full_name %>
</div>

<div>
 <strong>reserved?</strong> <%= @appointment.reserved %>
</div>


<% if policy(@appointment).destroy? %>
  <%= link_to 'Cancel Appointment', @appointment, method: :delete,
      data: { confirm: 'Are you sure?' } %>
  |
<% end %>

<% if @appointment.reserved == false %>
  <%= button_to 'Reserve Appointment', appointment_path(@appointment, appointment: {reserved: true}), method: :put, data: {confirm: 'Are you sure?'}%>
  |
<% end %>

<% if policy(@appointment).update? %>
  <%= link_to 'Edit', edit_appointment_path(@appointment) %>
  |
<% end %>

<%= link_to 'Back', root_path %>
