<p id="notice"><%= notice %></p>

<% if @appointment.reserved %>
  <%= Client.find(@appointment.client_id).name %>
<% end %>
<%= @appointment.date %>
<%= @appointment.start_time %> - <%= @appointment.end_time %>

<%= link_to 'Cancel Appointment', @appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
