<p id="notice"><%= notice %></p>

<div>
  <strong>Date:</strong> <%= @appointment.date %>
</div>

<div>
  <strong>time</strong> <%= @appointment.start_time.strftime("%l:%M") %> - <%= @appointment.end_time.strftime("%l:%M%p") %>
</div>

<div>
 <strong>Therapist</strong> <%= @appointment.therapist.full_name %>
</div>

<div>
 <strong>reserved?</strong> <%= @appointment.reserved %>
</div>

<% if @user.therapist? && @appointment.client_id != nil %>
  <div>
   <strong>Client</strong> <%= @appointment.client.full_name %>
  </div>
<% end %>

<% if @appointment.reserved %>
  <%= button_to 'Cancel Appointment', appointment_path(@appointment, appointment: {reserved: false, client_id: current_user.id}), method: :put, data: {confirm: 'Are you sure?'}%>
<% else %>
  <%= button_to 'Reserve Appointment', appointment_path(@appointment, appointment: {reserved: true, client_id: current_user.id}), method: :put, data: {confirm: 'Are you sure?'}%>
<% end %>

<% if policy(@appointment).update? %>
  <%= link_to 'Edit', edit_appointment_path(@appointment) %>
  |
<% end %>

<%= link_to 'Back', root_path %>
